.intro {
  background-color: white;
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
.intro::-webkit-scrollbar {
  display: none;
}
.intro .left {
  flex: 0.5;
  overflow: hidden;
}
.intro .left .imgContainr {
  width: 700px;
  height: 700px;
  background-color: crimson;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}
.intro .left .imgContainr .introImage {
  height: 100%;
}
.intro .left .imgContainr .img {
  height: 90%;
}
.intro .right {
  flex: 0.5;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
.intro .right::-webkit-scrollbar {
  display: none;
}
.intro .right .wrapper {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro .right .wrapper h1 {
  font-size: 60px;
  margin: 10px 0;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
.intro .right .wrapper h1 span {
  font-size: inherit;
  color: crimson;
}
.intro .right .wrapper h1 .ityped-cursor {
  animation: blink 1s infinite;
}
@keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.intro .right .wrapper h2 {
  font-size: 35px;
}
.intro .right .wrapper h3 {
  font-size: 30px;
}
.intro .right .wrapper a {
  position: absolute;
  bottom: 10px;
  left: 40%;
}
.intro .right .wrapper a img {
  width: 30px;
  animation: arrowBlink 2s infinite;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
.intro .right .wrapper a img::-webkit-scrollbar {
  display: none;
}